################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
obj
BIN
/8800c/NEWTECH/SCORE6B.NET/.vs/Score6B.Net/DesignTimeBuild
/8800c/NEWTECH/SCORE6B.NET/.vs/Score6B.Net/v16
